<%- include("../partials/header") %>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/preloader.css" />
</head>
<body onload="wave()">
    <div id="preloader">
        <div id="circle1" class="circle"></div>
        <div id="circle2" class="circle"></div>
        <div id="circle3" class="circle"></div>
        <div id="circle4" class="circle"></div>
        <div id="circle5" class="circle"></div>
    </div>
    
    <header>
        <nav >
            <div class="nav-container">
                <h3 id="Brand"><i class="fas fa-blog fa-2x"></i> RSblogs</h3>
                <ul>
                    <li><a href="#" class="navlinks"><i class="fas fa-user-plus icon"></i>Sign Up</a></li>
                    <li><a href="#" class="navlinks"><i class="fas fa-sign-in-alt icon"></i>Login</a></li>
                    <li><a href="#" class="navlinks"><i class="fas fa-sign-out-alt icon"></i>Logout</a></li>
                </ul>
            </div>
        </nav> -->
        <div class="overlay">
            <div id="content">
                <h1>Write To Inspire</h1>
                <p><a href="./blogs/new" class="new"><i class="fas fa-plus fa-xs"></i> Add new post</a></p>
            </div>
        </div>
    </header>
    
    <section class="post-section">
        <h1 class="section-heading">Trending Posts</h1>
        <hr>
        <div class="posts">
            <% blogs.forEach(function(blog){ %>
                <div class = "post">
                        <img class ="post-image" src="<%= blog.image %>" alt="This is an image realted to the article" height="60%" width="100%">
                        <div class="post-details">
                            <h3 class="post-title"><%= blog.title%></h3>
                            <p><a class="btnone" href="/blogs/<%= blog._id %>">Read</a></p>
                        </div>
                </div>
            <% }) %>
        </div>
    </section>

    <section class = "footer">
        <h4>© all copy rights reserved,made with immense love by thushar </h4>
    </section>


    <script type="text/javascript" src="JS/home.js"></script>
<%- include("../partials/footer") %>