<%- include("../partials/header")%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
</head>
<body>
    <%- include("../partials/nav") %>

    <h1 class="blog-title"><%= post.title %></h1>

    <section class="blog-content">

        <img class="blog-img" src="<%= post.image %>" alt="post related image" width="400px" height="auto">

        <div class="blog-desc">
            <p>
                <%- post.description %>
            </p>
            <p class="tag-line"><em>written by - <%= post.author.username %><em></p>
            <% if(currUser && currUser._id.equals(post.author.id)){ %>
            <a class="new warning" href="/blogs/<%= post._id %>/edit" >Edit</a>
            <form action="/blogs/<%= post._id %>/?_method=DELETE" method="POST" style="display: inline-block;">
                <button type="submit" class="new danger" >Delete</button>
            </form>
            <% } %>
        </div>
        
    </section>
    <script type="text/javascript" src="/JS/show.js"></script>
<%- include("../partials/footer")%>
